@charset="UTF-8";
@font-face{
    font-family: 'FonteLogo';
    src: url('../fonts/bubblegum-sans-regular.otf');
}
body {
    position: relative;
    width: 100%;
    background-color:#9bbef3;
    color: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #606060;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
div#interface{
    position: relative;
    width: auto;
    background-color: #d6e2a1;
    margin: -10px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 10px;
}
header#cabecalho{
    position: relative;
    border-bottom: 1px #606060 solid;
    height: 350px;
    background-image: linear-gradient(to right, rgb(95, 168, 95), rgb(255, 255, 255), rgb(160, 66, 66));
    border-radius: 18px;
   }
header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font: size 20pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    font-family: Arial, sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}
header#cabecalho img#icone{
    position: absolute;
    top: 120px;
    left: 50px;
}
nav#menu{
    position: relative;
    display:block;
}
ul#principal{
    top: 15px;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    margin: 0% 18%;
}
nav#menu li{
    display: inline-block;
    background-color: #d86262;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
}
nav#menu li{
    background-color: #d65757;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
nav#menu a{
    color: #fff;
    text-decoration: none;
}
nav#menu a:hover{
    color:#142c9b;
    text-decoration: underline;
}
nav#menu h1{
    display:none;
}
section#corpo{
    display: block;
    width: 48%;
    float: left;
    border-right: 1px solid #606060;
    padding:10px;
}
article#noticia-principal h2{
    font: size 13pt;
    color: #606060;
    background-color: #e26868;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
header#cabecalho-artigo h1{
    font-size:20pt;
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    margin-bottom: 0px;
}
header#cabecalho-artigo h2{
    font: size 13pt;
    color: #cecece;
    background-color: #3424c9;
    margin-top: 0px;
}
header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
}
.direita{
    text-align: right;
}

div#video01{
    position: relative;
    width: 50%;
    left: 5%;
    right: 25%;
}
div#video2{
    position: relative;
    width: 50%;
    left: 6%;
    right: 25%;

}
aside#lateral{
    display: block;
    width: 48%;
    float: right;
    background-color: #b87676;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
}
aside#lateral h1{
    font: size 20pt;
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    margin: top 0px;
}
aside#lateral h2{
    font: size 13pt;
    background-color: #606060;
    color: #ffffff;
    padding: 5px;
}
aside#lateral video{
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
}
footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}
footer#rodape p{
    text-align: center;
}
p{
    text-align: justify;
    margin: 1%;;
    text-indent: 50px;
}
figure.foto-legenda{
    position: relative;
    border: 8px solid width;
    box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: opacity 0.4s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
}