

body{
    position:relative;
    background-image: linear-gradient(to right, #fff, rgb(240, 145, 145), rgb(65, 105, 236));
}

header{
    position= relative;
    background-image: linear-gradient(to right, rgb(238, 85, 85), rgb(247, 212, 97), rgb(238, 85, 85));
    border-radius: 15px;  
    font-size: 12px;
    text-indent: 50px;
    text-align: justify;
    padding: 20px;
}


img#icone5{
    position: relative;
    top: -20px;
    left: 15px;
    border-radius: 18px;
}
ul#cinco{
    position: relative;
    top: -140px;
    left: 30px;
    font-size:  20pt;
}
button{
    position= relative;
    background-image: linear-gradient(to right, rgb(238, 85, 85), rgb(247, 212, 97), rgb(238, 85, 85));
    border-radius: 15px;
    margin: 0 20%;
    font-size: 29px;
}
p#tela{
    position= relative;
    background-image: linear-gradient(to right, rgb(238, 85, 85), rgb(247, 212, 97), rgb(238, 85, 85));
    border-radius: 15px;
    margin: 0 35%;
    text-align: center;
    font-size: 30px;
}